# Python-related
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
pip-wheel-metadata/

# Virtual environments
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Docker-related
*.log
*.db
Dockerfile
docker-compose.yml

# IDE and editor files
.idea/
*.sublime-workspace
*.sublime-project

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini